@import "colors";

body {
  padding: 0;
  margin: 0;
}

.layout {
  font-family: Arial, sans-serif;
  font-size: 13pt;
}

h1 {
  font-weight: normal;
  margin-top: 0;
}

.btn {
  display: inline-block;
  background-color: $grayBg;
  padding: .5rem 1rem;
  margin: .25rem;
  border: 0;
  border-radius: 4px;
  box-shadow: transparentize($grayText, 0.5) 1px 1px 3px;

  &:hover {
    background-color: lighten($grayBg, 10%);
  }

  &.primary {
    background-color: $dotGreen;

    &:hover {
      background-color: lighten($dotGreen, 10%);
    }
  }


}

button.btn,
input[type="submit"].btn
{
  font-family: Arial, sans-serif;
  font-size: 13pt;
}

a.btn
{
  text-decoration: none;
  color: $textColor;
  cursor: default;
}

.box {
  border: 1px solid transparentize($grayText, 0.7);
  border-radius: 4px;
  box-shadow: transparentize($grayText, 0.7) 1px 1px 3px;
  padding: 1rem 2rem;
  background-color: white;
}

input[type="text"] {
  border: 1px solid $grayText;
  padding: .5rem 1rem;
  font-size: 14pt;
  border-radius: 4px;
}

form.vertical {

  max-width: 30rem;

  .group {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;

    &.controls {
      padding-left: 20%;
      padding-right: 20%;
    }

    p.validation {
      color: $error;
      margin: .2rem;
      font-size: .8rem;
      text-align: right;
    }
  }


}

.alert {
  margin: 1rem auto;
  padding: .5rem 1rem;
  background-color: transparentize($grayText, 0.8);
  border: 1px solid transparentize($grayText, 0.7);
  border-radius: 4px;
  width: auto;

  &.success {
    background-color: transparentize($success, 0.8);
    border: 1px solid transparentize($success, 0.7);
  }

  &.error {
    background-color: transparentize($error, 0.8);
    border: 1px solid transparentize($error, 0.7);
  }
}

.layout.singleInteraction {
  background-color: transparentize($grayText, 0.8);
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

.layout.basic {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 7fr;
  grid-template-columns: 1fr 11fr;

  .logo {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .bar {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .navigation {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .grid {
    grid-column: 2/3;
    grid-row: 2/3;

    padding: 2rem;
  }
}

.logo {
  background-color: $dotGreen;
}

.navigation {
  background-color: $dotGreen;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  justify-items: center;

  .top {
    grid-row: 1/2;
    align-self: start;
  }
  .middle {
    grid-row: 2/3;
  }
  .bottom {
    grid-row: 3/4;
    align-self: end;
    padding-bottom: 1rem;
  }

}

.nav-item {

  display: block;
  padding: .5rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: .8rem;
  text-decoration: none;
  line-height: 20px;
  margin: 1rem;

  span {
    display: block;
  }

  svg {
    width: 32px;
    height: 32px;
    path {
      fill: white;
    }
  }
}

.btn-group {

  display: flex;

  .btn {
    border-radius: 0;
    margin-left: 0;
    margin-right: 2px;
  }

  .btn:first-of-type {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

  .btn:last-of-type {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
}