<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RRG Styleguide - singleInteraction</title>
    <link rel="stylesheet" href="../production/all.css">
</head>
<body>
    <div class="layout basic">
        <div class="logo"></div>
        <div class="bar"></div>
        <div class="navigation">
            <div class="top">
                <a href="#" class="nav-item home">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1zM6 19h12V9.157l-6-5.454-6 5.454V19z"/></svg>
                    <span>Úvod</span>
                </a>
            </div>
            <div class="bottom">
                <a href="#" class="nav-item logout">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M5 22a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v3h-2V4H6v16h12v-2h2v3a1 1 0 0 1-1 1H5zm13-6v-3h-7v-2h7V8l5 4-5 4z"/></svg>
                    <span>Logout</span>
                </a>
            </div>
        </div>
        <div class="grid">
            <h1>Dva čudlíky</h1>
            <div class="btn-group">
                <a class="btn primary" href="#vsici">Všici</a>
                <a class="btn" href="#jen-dvojka">Jen dvojka</a>
            </div>
        </div>
    </div>
</body>
</html>